In [17]:
library(UsingR)
library(tidyverse)
data("father.son",package="UsingR")

__What is the average height of the sons (don't round off)?__

In [18]:
head(father.son)

  fheight  sheight
1 65.04851 59.77827
2 63.25094 63.21404
3 64.95532 63.34242
4 65.75250 62.79238
5 61.13723 64.28113
6 63.02254 64.24221

In [19]:
mean(father.son$sheight)

[1] 68.68407

__Using the father.son dataset described above, we want to know the expected height of sons if we condition on the father being 71 inches. Create a list of son heights for sons that have fathers with heights of 71 inches (round to the nearest inch).__

What is the mean of the son heights for fathers that have a height of 71 inches (don't round off your answer)? (Hint: use the function round() on the fathers' heights)

In [28]:
father <-round(father.son$fheight,0)
fatherson<-cbind(father,father.son)

In [29]:
head(fatherson)

  father fheight  sheight
1 65     65.04851 59.77827
2 63     63.25094 63.21404
3 65     64.95532 63.34242
4 66     65.75250 62.79238
5 61     61.13723 64.28113
6 63     63.02254 64.24221

In [30]:
son <- fatherson %>% filter(father ==71) %>% select(sheight) %>% unlist

In [31]:
mean(son)

[1] 70.54082

__Create the matrix from the vector 1:1000 like this:__

X = matrix(1:1000,100,10)

What is the entry in row 25, column 3 ?

In [32]:
X = matrix(1:1000,100,10)

In [33]:
X[25,3]

[1] 225

__Using the function cbind, create a 10 x 5 matrix with first column x=1:10. Then columns 2*x, 3*x, 4*x and 5*x in columns 2 through 5.__

__What is the sum of the elements of the 7th row?__

In [34]:
x=1:10
mat<-cbind(x,2*x,3*x,4*x,5*x)
sum(mat[7,])

[1] 105

__Which of the following creates a matrix with multiples of 3 in the third column?__

In [35]:
matrix(1:60,20,3,byrow=TRUE)

      [,1] [,2] [,3]
 [1,]  1    2    3
 [2,]  4    5    6
 [3,]  7    8    9
 [4,] 10   11   12
 [5,] 13   14   15
 [6,] 16   17   18
 [7,] 19   20   21
 [8,] 22   23   24
 [9,] 25   26   27
[10,] 28   29   30
[11,] 31   32   33
[12,] 34   35   36
[13,] 37   38   39
[14,] 40   41   42
[15,] 43   44   45
[16,] 46   47   48
[17,] 49   50   51
[18,] 52   53   54
[19,] 55   56   57
[20,] 58   59   60

__Solve the following system of equations using R:__

3a + 4b - 5c + d = 10

2a + 2b + 2c - d = 5

a -b + 5c - 5d = 7

5a + d = 4

What is the solution for c:

In [36]:
X <- matrix(c(3,2,1,5,4,2,-1,0,-5,2,5,0,1,-1,-5,1),4,4)
X

     [,1] [,2] [,3] [,4]
[1,] 3     4   -5    1
[2,] 2     2    2   -1
[3,] 1    -1    5   -5
[4,] 5     0    0    1

In [38]:
y <- matrix(c(10,5,7,4),4,1)
y

     [,1]
[1,] 10
[2,]  5
[3,]  7
[4,]  4

In [39]:
sol = solve(X,y)

In [41]:
sol

     [,1]
[1,]  1.2477876
[2,]  1.0176991
[3,] -0.8849558
[4,] -2.2389381

__What is the value in the 3rd row and the 2nd column of the matrix product of 'a' and 'b'__

In [42]:
a <- matrix(1:12, nrow=4)
b <- matrix(1:15, nrow=3)

In [43]:
c<-a %*% b
c[3,2]

[1] 113

__Multiply the 3rd row of 'a' with the 2nd column of 'b', using the element-wise vector multiplication with *.__
__What is the sum of the elements in the resulting vector?__

In [44]:
sum(a[3,] * b[,2])

[1] 113