In [15]:
#install.packages("swirl", repos = "http://cran.us.r-project.org")

In [4]:
library(swirl)

Warning message:
"package 'swirl' was built under R version 3.5.2"
| Hi! Type swirl() when you are ready to begin.

*** Create a numeric vector containing the numbers 2.23, 3.45, 1.87, 2.11, 7.33, 18.34, 19.23. What is the average of these numbers? ***

In [5]:
num <- c(2.23, 3.45, 1.87, 2.11, 7.33, 18.34, 19.23)
mean(num)

[1] 7.794286

***Use a for loop to determine the value of $\sum_{i=1}^{25} i^2$ ***

In [6]:
sum <- 0
for(i in 1:25)
  sum <- sum + i^2
sum

[1] 5525

***The cars dataset is available in base R. You can type cars to see it. Use the class function to determine what type of object is cars. ***

In [7]:
class(cars)

[1] "data.frame"

***How many rows does the cars object have? ***

In [9]:
nrow(cars)

[1] 50

__What is the name of the second column of cars?__

In [10]:
names(cars)[2]

[1] "dist"

__The simplest way to extract the columns of a matrix or data.frame is using [. For example you can access the second column with cars[,2]. What is the average distance traveled in this dataset?__

In [11]:
mean(cars[,2])

[1] 42.98

__Familiarize yourself with the which function. What row of cars has a a distance of 85?__

In [12]:
which(cars[,2]==85)

[1] 50

In [17]:
#install.packages("downloader", repos = "http://cran.us.r-project.org")

__Read in the file femaleMiceWeights.csv and report the exact name of the column containing the weights.__

In [18]:
library(downloader) 
url <- "https://raw.githubusercontent.com/genomicsclass/dagdata/master/inst/extdata/femaleMiceWeights.csv"
filename <- "femaleMiceWeights.csv" 
download(url, destfile=filename)

Warning message:
"package 'downloader' was built under R version 3.5.2"

In [21]:
femaleWeights <-read.csv("femaleMiceWeights.csv")
colnames(femaleWeights)

[1] "Diet"       "Bodyweight"

__The [ and ] symbols can be used to extract specific rows and specific columns of the table. What is the entry in the 12th row and second column?__

In [22]:
femaleWeights[12,2]

[1] 26.25

__You should have learned how to use the  character to extract a column from a table and return it as a vector. Use to extract the weight column and report the weight of the mouse in the 11th row.__

In [24]:
femaleWeights$Bodyweight[11]

[1] 26.91

__The length function returns the number of elements in a vector. How many mice are included in our dataset?__

In [25]:
length(femaleWeights$Bodyweight)

[1] 24

__To create a vector with the numbers 3 to 7, we can use seq(3,7) or, because they are consecutive, 3:7. View the data and determine what rows are associated with the high fat or hf diet. Then use the mean function to compute the average weight of these mice.__

In [26]:
hfdiet<-femaleWeights[femaleWeights$Diet=="hf",]
mean(hfdiet$Bodyweight)

[1] 26.83417

__One of the functions we will be using often is sample. Read the help file for sample using ?sample. Now take a random sample of size 1 from the numbers 13 to 24 and report back the weight of the mouse represented by that row. Make sure to type set.seed(1) to ensure that everybody gets the same answer.__

In [28]:
set.seed(1)
i <- sample( 13:24, 1)
femaleWeights$Bodyweight[i]

[1] 25.34

In [1]:
library(downloader)
url="https://raw.githubusercontent.com/genomicsclass/dagdata/master/inst/extdata/msleep_ggplot2.csv"
filename <- basename(url)
download(url,filename)

Warning message:
"package 'downloader' was built under R version 3.5.2"

__Read in the msleep_ggplot2.csv file with the function read.csv and use the function class to determine what type of object is returned.__

In [2]:
msleep <- read.csv("msleep_ggplot2.csv")

In [3]:
class(msleep)

[1] "data.frame"

__Now use the filter function to select only the primates. How many animals in the table are primates? Hint: the nrow function gives you the number of rows of a data frame or matrix.__

In [4]:
head(msleep)

  name                       genus      vore  order        conservation
1 Cheetah                    Acinonyx   carni Carnivora    lc
2 Owl monkey                 Aotus      omni  Primates     NA
3 Mountain beaver            Aplodontia herbi Rodentia     nt
4 Greater short-tailed shrew Blarina    omni  Soricomorpha lc
5 Cow                        Bos        herbi Artiodactyla domesticated
6 Three-toed sloth           Bradypus   herbi Pilosa       NA
  sleep_total sleep_rem sleep_cycle awake brainwt bodywt
1 12.1         NA              NA   11.9       NA  50.000
2 17.0        1.8              NA    7.0  0.01550   0.480
3 14.4        2.4              NA    9.6       NA   1.350
4 14.9        2.3       0.1333333    9.1  0.00029   0.019
5  4.0        0.7       0.6666667   20.0  0.42300 600.000
6 14.4        2.2       0.7666667    9.6       NA   3.850

In [9]:
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.0     v purrr   0.2.5
v tibble  2.0.1     v dplyr   0.7.6
v tidyr   0.8.1     v stringr 1.3.1
v readr   1.1.1     v forcats 0.3.0
Warning message:
"package 'ggplot2' was built under R version 3.5.2"Warning message:
"package 'tibble' was built under R version 3.5.2"Warning message:
"package 'stringr' was built under R version 3.5.2"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [11]:
primates = msleep %>% filter(order == "Primates")
nrow(primates)

[1] 12

__What is the class of the object you obtain after subsetting the table to only include primates?__

In [12]:
class(primates)

[1] "data.frame"

__Now use the select function to extract the sleep (total) for the primates. What class is this object? Hint: use %>% to pipe the results of the filter function to select.__

In [14]:
sleeptotal = primates %>% select(sleep_total)
class(sleeptotal)

[1] "data.frame"

__Now we want to calculate the average amount of sleep for primates (the average of the numbers computed above). One challenge is that the mean function requires a vector so, if we simply apply it to the output above, we get an error. Look at the help file for unlist and use it to compute the desired average.__

In [15]:
mean(unlist(sleeptotal))

[1] 10.5

__For the last exercise, we could also use the dplyr summarize function. We have not introduced this function, but you can read the help file and repeat exercise 5, this time using just filter and summarize to get the answer.__

In [16]:
summarise(primates, avg = mean(sleep_total))

  avg
1 10.5